body {
    font-family: 'Open Sans', 'sans-serif';
    /*padding-top: 60px;*/
    position: relative;
}
h1, h2, h3, h4, h5 {
    font-weight: 600;
}

h1, h2 {
    margin-top: 40px;
}

h3 {
    margin-top: 30px;
}

#search:focus {
    padding-left: 15px;
    z-index: 5000;
}

.navbar-default {
    /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);*/
    background: #222222; /* Old browsers */
}

.breadcrumb {
    background-color: #f7f7f7;
}

ul {
    list-style-type: none;
}

#site-description > h3 {
    margin-top: 0;
}

.text-gold {
    color: #ffd700;
}

.text-white {
    color: #ffffff;
}

.text-gray-darker {
    color: #222222;
}

.text-gray-dark {
    color: #333333;
}

.text-gray {
    color: #555555;
}

.text-gray-light {
    color: #999999;
}

.text-gray-lighter {
    color: #cccccc;
}

span.name {
    font-weight: 600;
}

.navbar-brand {
    font-weight: 600;
}

.clear-both {
    clear: both;
}

.bg-primary {
    background-color: #337ab7;
    color: #ffffff;
}

.brd-primary {
    border-color: #337ab7;
}

.bg-r {
    background-color: #f55628;
}

.bg-g {
    background-color: #5ad233;
}

.bg-b {
    background-color: #0091f6;
}

.bg-c {
    background-color: #6bf7f2;
}

.bg-m {
    background-color: #fa88f8;
}

.bg-y {
    background-color: #fffc4d;
}

.bg-black, .bg-k {
    background-color: #000000;
}

.bg-coal {
    background-color: #3c3c3c;
}

.bg-gray {
    background-color: #787878;
}

.bg-light {
    background-color: #b4b4b4;
}

.bg-feather {
    background-color: #f0f0f0;
}

.border-gray {
    border: #eeeeee 2px solid;
    border-radius: 4px;
}

.shadow-none {
    box-shadow: none;
}

#navigation {
    margin-top: 10px;
}

.nav-bar > li > a:hover {
    background-color: #eeeeee;
}

.nav-bar > li > a {
    border-radius: 0;
}

form.search {
    margin-bottom: 15px;
}

.search-icon {
    padding: 0 12px;
}

.navbar-search-icon {
    padding: 2px 10px 0;
}

input.search, button.search {
    border: rgba(255, 255, 255, .4) 3px solid;
    border-radius: 7px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

input.search {
    border-right: none;
}

input.search::-webkit-input-placeholder {color: rgba(255, 255, 255, 0.4);}
input.search::-moz-placeholder          {color: rgba(255, 255, 255, 0.4);}
input.search:-moz-placeholder           {color: rgba(255, 255, 255, 0.4);}
input.search:-ms-input-placeholder      {color: rgba(255, 255, 255, 0.4);}

input.search:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
    .navbar-form {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.col-md-9 > h1 {
    margin-top: 25px;
}

#login-form {
    margin-bottom: 10px;
}

.profile-nav-sub {
    margin: 0 0 25px 0;
}

@media (max-width: 350px) {
    h1.home-header {
        font-size: 34px;
    }
}

@media (max-width: 991px) {
    .navbar-input-group {
        max-width: 192px;
    }
}

.breadcrumb > li + li:before {
    content: '>';
    padding: 0 7px 0 5px;
}