input[type="file"] {
  margin: auto;
  padding-left: 25px;
}
#redactor-droparea-placeholder {
  margin: auto;
  text-align: center;
}
#redactor-droparea {
  position: relative;
  overflow: hidden;
  padding: 80px 20px;
  border: 3px dashed rgba(0,0,0,0.1);
}
.redactor-editor {
  cursor: text;
  border: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.redactor-editor:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: 0 0 8px rgba(102,175,233,0.6), inset 0 1px 1px rgba(0,0,0,0.075);
}
.redactor-editor.has-error {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.redactor-editor.has-error:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #ce8483;
}
.redactor-editor.has-success {
  border-color: #3c763d;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.redactor-editor.has-success:focus {
  border-color: #2b542c;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #67b168;
}
.redactor-toolbar {
  border: 1px solid #ccc;
  border-bottom: 0 solid #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.redactor-box {
  margin-bottom: 0px;
}
